
body {
    padding: 0;
    margin: 0;
}

/* 设置滚动条的宽度和高度 */
#app ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 设置滚动条的背景颜色 */
#app ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* 设置滚动条thumb（滚动条上可拖动的部分）的背景颜色 */
#app ::-webkit-scrollbar-thumb {
    background-color: rgb(208, 208, 208);
    border-radius: 5px;
    min-height: 50px;

}

/* 鼠标悬停在滚动条上时的样式 */
#app ::-webkit-scrollbar-thumb:hover {
    background-color: #c7c7c7;
    border-radius: 5px;
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.5s ease-in-out;
}
.slide-enter,
.slide-leave-to {
    transform: translateX(100%);
}
